@model ECommerceMVC.Data.Hanghoa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hanghoa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenhh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenhh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenalias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenalias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Motadonvi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Motadonvi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dongia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dongia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaysx)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaysx)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Giamgia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Giamgia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Solanxem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Solanxem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaloaiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaloaiNavigation.Maloai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManccNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManccNavigation.Mancc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Mahh">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
